@charset "utf-8";
@font-face {
	font-family:"STKaiti";
}
.skill-box {
	width: 900px;
    height: 1400px;
    background-image:url(./20240728152023.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 25px auto;
    border: none;
    position: relative;
}
p{
	font-family: '楷体','STKaiti';
	font-size:17px;
	color: #000000;
}
img.skill-photo{
	width: 83px;
	height: 100px;
	position: absolute;
	left: 125px;
	top: 225px;
	}
p.skill-name{
	width: 100px;
    text-align: center;
    position: absolute;
    left: 353px;
    top: 202px;
    
}
p.skill-post{
	position: absolute;
    left: 380px;
    top: 245px;
    
}
p.skill-post .Chinese{
	text-align: left;
	margin-right: 75px;
}
p.skill-post .English{
	width: 190px;
	text-align: right;
}
p.skill-Gender{
	width: 100px;
	text-align: center;
	position: absolute;
    left: 530px;
    top: 202px;
     
}
p.skill-id{
    position: absolute;
    left: 380px;
    top: 224px;
    
}
p.skill-number{
	position: absolute;
    left: 380px;
    top: 267px;
    
}
p.skill-date{
	position: absolute;
    right: 142px;
    bottom: 76px;
    
}
p.skill-date span{
	margin-right: 3px;
}
img.wx-photo{
	width: 82px;
    /*height: 99px;*/
    position: absolute;
    left: 125px;
    bottom: 130px;
}
.bak{
    /*text-align: center;
    margin:5px auto;
    height: 42px;
    width: 148px;
    font-size: 22px;
    line-height: 42px;
    background-color: #d4391a;
    border-radius: 5px;
    color: #fff;
    cursor:pointer;*/
    margin:5px auto;
    display: block;
    width: 148px;
    height: 50px;
    font-size: 18px;
    color: #fff;
    line-height: 50px;
    text-align: center;
    background: url(./btn_bg.jpg);
    border-radius: 5px;
    cursor: pointer;
}
